.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fafbfc;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  padding: 24px 0;
  background: #222;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-body {
  display: flex;
  height: 100vh;
  padding-top: 50px;
}

.app-sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 200px;
  height: calc(100vh - 80px);
  background: #f4f4f4;
  padding: 32px 0;
  overflow-y: auto;
  z-index: 999;
  text-align: left;
  align-items: flex-start;
  transition: width 0.3s;
}

.app-main {
  flex: 1;
  margin-left: 100px;
  /*height: calc(100vh - 80px);
  overflow-y: auto;*/
  padding: 40px;
  display: flex;
  flex-direction: column;
}